<app-header></app-header>
<div class="container-signup">
  <div class="form">
    <mat-card>
      <mat-card-title>Bienvenido</mat-card-title>
      <form [formGroup]="form" (ngSubmit)="send()" class="inputs">
        <mat-form-field>
          <input autocomplete="off" type="text" matInput formControlName="email" placeholder="Correo electrónico">
          <app-show-errors [control]="email"></app-show-errors>
        </mat-form-field>
        <mat-form-field>
            <input autocomplete="off" type="password" matInput formControlName="password" placeholder="Password">
            <app-show-errors [control]="password"></app-show-errors>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput formControlName="phone" placeholder="Teléfono">
          <app-show-errors [control]="phone"></app-show-errors>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput formControlName="name" placeholder="Nombre">
          <app-show-errors [control]="name"></app-show-errors>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput formControlName="lastName" placeholder="Apellido">
          <app-show-errors [control]="lastName"></app-show-errors>
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" type="text" matInput formControlName="uuid" placeholder="Número de identificación">
          <app-show-errors [control]="uuid"></app-show-errors>
        </mat-form-field>
        <div class="button">
          <button [ngClass]="{'disabled' : form.invalid}" [disabled]="form.invalid" mat-raised-button
            color="accent">Editar Información</button>
        </div>
      </form>
      <button style="margin-top: 20px; width:100%" mat-raised-button color="primary" (click)="goTo()">Ver Posts</button>
      <button style="width: 100%; margin-top: 10px" color="warn" mat-raised-button (click)="sendEmails()">
            Enviar Emails
      </button>
    </mat-card>
  </div>
</div>
