<app-header></app-header>
<div class="container-post">
    <div class="row">
        <mat-form-field class="col-11">
            <input matInput placeholder="Teclea para buscar automáticamente" [(ngModel)]="name" (keyup)="search($event.target.value)">
        </mat-form-field>
        <button class="col-1" mat-raised-button color="primary" (click)="search(''); name=''">
            Limpiar
        </button>
    </div>
    <div class="row detail" *ngFor="let item of dataFilter" (click)="goto(item.id)">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
            {{item.id}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            {{item.title | titlecase}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            {{item.body}}
        </div>
    </div>
</div>